<!-- views/accounts.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" type="text/css" href="dicoins.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script> 
		$(function(){
  			$("#diCoinsHeader").load("diCoinsHeader.html");   		
		});
	</script>
		
	<script>
		function loadAccountDetails() {	
		  	var xmlHttp = new XMLHttpRequest();
		  	console.log('Inside loadAccountDetails1');
		    xmlHttp.open( "GET", "/detailedaccount", true);
		    console.log('Inside loadAccountDetails2');
		    
		    xmlHttp.onreadystatechange = function (oEvent) {
		    	console.log('Inside loadAccountDetails5');  
			    if (xmlHttp.status === 200) {  
			          console.log(xmlHttp.responseText)  
		        } else {  
		           console.log("Error", xmlHttp.statusText);  
		        }
		            
			};
			console.log('Inside loadAccountDetails3');
		    xmlHttp.send();    
		    console.log('Inside loadAccountDetails4');	    	    
    	}

	</script>
	
	<script>
		function loadPurchaseHistory() {
		   $.ajax({
		       url: "/listjobpurchasehistory"
		   }).then(function(data) {
		   		if(data.length > 0) {
		      		console.log(data);
			      	var posts = jQuery.parseJSON(data);
			      	console.log("Data:"+data);
			      	var out = "";
					var i,r;
			      	<!-- Create Submitted posts table -->							     
				    if(typeof posts !== "undefined") {								
				    	var rows = posts.length;
					    var html = "";
					    html +=  
					               '<div class="accountDetailedHeader">'+
					    	    	'Services Purchased' +    						        						   
					    			'</div>';
						html += '<hr/>';
																									    						    		
					    for (i = 0; i < rows; i++) {
							html += '<div class="serviceContentContainer">' +
								'<div class="serviceContentColumnContainer">' +
								'<div class="accountElementsHeader">Title: '  + posts[i].title + '</div>' +
								'<div class="accountElementsHeader">';
								if (posts[i].date !== "undefined") {
	                              html += 'Date Posted: ' + posts[i].date + '<br/>';
	                        	}
	                        
								html += '</div>' +
								'<div class="accountElementsHeader">Price: ' + posts[i].price + ' LabCoins' + '</div>' +
								'<div class="accountElementsHeader">Sold by: ' + posts[i].seller + '</div>' +
								'<div class="accountElementsHeader">Description:</div>' +
								'<div class="serviceContentDescription">' + posts[i].description + '</div>' +														
								'</div>' +						
								'</div>' +	
								'<hr/>';   	   
					    }
					    
					    $("#detailedcontent").append(html);							    							   							  							    							    							    							    							    							    							    							    							    							    							    							    							   
			    	}
		    	}							    
        		<!-- Submitted posts table building ends here -->			            					            					            					            					            						      				      				      				      				      				      				     				    
		   }); <!---Ajax call for /listcurrentjobpost ends here -->
		}
	</script> 
	
	<script>
		function loadSalesHistory() {
		   $.ajax({
		       url: "/listjobsaleshistory"
		   }).then(function(data) {
		   		if(data.length > 0) {
		      		console.log(data);
			      	var posts = jQuery.parseJSON(data);
			      	console.log("Data:"+data);
			      	var out = "";
					var i,r;
			      	<!-- Create Submitted posts table -->							     
				    if(typeof posts !== "undefined") {								
				    	var rows = posts.length;
					    var html = "";
					    html +=  
					               '<div class="accountDetailedHeader">'+
					    	    	'Services Sold' +    						        						   
					    			'</div>';
						html += '<hr/>';
																									    						    		
					    for (i = 0; i < rows; i++) {
							html += '<div class="serviceContentContainer">' +
								'<div class="serviceContentColumnContainer">' +
								'<div class="accountElementsHeader">Title: ' + posts[i].title + '</div>' +	
								'<div class="accountElementsHeader">';
								if (posts[i].date!== "undefined") {
	                              html += 'Date Posted: ' + posts[i].date + '<br/>';
	                        	}
	                        
								html += '</div>' +
								'<div class="accountElementsHeader">Price: ' + posts[i].price + ' LabCoins' + '</div>' +
								'<div class="accountElementsHeader">Purchased by: ' + posts[i].buyer + '</div>' +
								'<div class="accountElementsHeader">Description:</div>' +
								'<div class="serviceContentDescription">' + posts[i].description + '</div>' +														
								'</div>' +						
								'</div>' +	
								'<hr/>';   	   
					    }
					    
					    $("#detailedcontent").append(html);							    							   							  							    							    							    							    							    							    							    							    							    							    							    							    							   
				    }
			    }			    
			    loadPurchaseHistory();							    
        		<!-- Services sales history table building ends here -->			            					            					            					            					            						      				      				      				      				      				      				     				    
		   }); <!---Ajax call for /listjobsaleshistory ends here -->
		}
	</script>
	
	 

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:0px; word-wrap:break-word; }
        .loader {
		  border: 16px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 16px solid blue;
		  border-bottom: 16px solid blue;
		  width: 120px;
		  height: 120px;
		  -webkit-animation: spin 2s linear infinite;
		  animation: spin 2s linear infinite;
		  margin-top: 20px;
		  margin-bottom: 20px;
		}
		
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}
		
		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		} 
    </style>
</head>



<body>
	<div id="diCoinsHeader">
	</div>
	<div class="container">
	    
	    
	    <!-- show any messages that come back with authentication -->
	    <% if (!user.local.validated) { %>
	        <div class="alert alert-warning"><center>Account validation in progress. This should take between 12-24 hours. You will have minimal access to your account during this time.</center></div>
	    <% } %>
	    
	    <!-- show any messages that come back with authentication -->
	    <% if (message.length > 0) { %>
	    	<div class ="accountsmessagecontainer">
	        	<div class="alert alert-warning"><center><%= message %></center></div>
	        </div>
	    <% } %>
	
	    <div class="row">
	
	        <!-- LOCAL INFORMATION -->
	        <div class="grid">
	                <div class="accountHeader">My Account</div>
	                <div class="accountElementsHeader"><%= user.local.firstname %> </div>
	                <div class="accountElementsHeader"><strong>Balance: 
	        			<font color="green"> 
		        		<% if (user.local.balance) { %>
							        <%= user.local.balance %>
							    <% } else {%>
							    	0
							   <% } %> LabCoins
					   	</font>
					   	</strong>
					</div>
                    <div class="accountElementsHeader"> Blockchain Public Key: 
	                    
	                    <% if (!user.local.address) { %>
					        {} <br>
					    <% } else { %> <%= user.local.address %> <br>
					    
				       	<% } %>
			       	</div>	
	                <hr/>
	                <div id="detailedcontent"></div>	                               	
                	
	                <script>
						<!-- Document ready section starts here -->
		        		$(document).ready(function() {
						   $.ajax({
						       url: "/listcurrentjobpost"
						   }).then(function(data) {
						   		if(data.length > 0) {
							      	var posts = jQuery.parseJSON(data);
							      	console.log("Data:"+data);
							      	var out = "";
		    						var i,r;
							      	<!-- Create Submitted posts table -->							     
								    if(typeof posts !== "undefined") {								
								    	var rows = posts.length;
		    						    var html = "";
		    						    html +=  
									               '<div class="accountDetailedHeader">'+
		    						    	    	'My Posts' +    						        						   
		    						    			'</div>';
										html += '<hr/>';
																													    						    		
									    for (i = 0; i < rows; i++) {
											html += '<div class="serviceContentContainer">' +
												'<div class="serviceContentColumnContainer">' +
												'<div class="accountElementsHeader">Title: '  + posts[i].title  +	'</div>' +
												'<div class="accountElementsHeader">';
												if (posts[i].postedOn!== "undefined") {
					                              html += 'Date Posted: ' + posts[i].postedOn + '<br/>';
					                        	}
					                        
												html += '</div>' +
												'<div class="accountElementsHeader">Price: ' + posts[i].price + ' LabCoins' + '</div>' +
												'<div class="accountElementsHeader">Description:</div>' +
												'<div class="serviceContentDescription">' + posts[i].description + '</div>' +
												'<div class="jobpostedButtonContainer">';
												var actionUrl = '/buyjob?id='+posts[i]._id+'&amp;seller='+posts[i].address+'&amp;sellerusername='+posts[i].username;													                                               
	                                    		html += '<form name="f1" action='+ actionUrl +  ' method="post">' +
	                                            			'<input type="image" src="delete.png" alt="Submit">' +
	                                    					'</form>';
												html += '</div>' +			
												'</div>' +						
												'</div>' +	
												'<hr/>';   	   
									    }
									    
									    $("#detailedcontent").append(html);							    							   							  							    							    							    							    							    							    							    							    							    							    							    							    							   
								    }							    
				            		<!-- Submitted posts table building ends here -->			            		
			            		}
			            		loadSalesHistory();
			            					            					            					            					            					            						      				      				      				      				      				      				     				    
						   }); <!---Ajax call for /listcurrentjobpost ends here -->
						});	<!---document ready function ends here -->				
					</script>
            </div>
	
	    </div>
	
	</div>
</body>
</html>
