.headerBanner {
	background-color: #52bdec;
	color: white;
}

/*a {
    color: white;
    font-family: 'Helvetica Neue';
 	font-weight: medium;
 	text-decoration: none;
}*/

h1 {
   color:#52bdec;
}

body {	
    font-family: 'Helvetica Neue';
 	font-weight: medium;
}

.postTitle {

   color:#52bdec;
   font-weight:heavy;
}

.headerColumnContainer {
	display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 120px;    
}

.headerLogo {	
    width: 300px;
    height: 70px;   
    margin: 25px; 
    background-image: url("Logo.png");
    background-size: contain;
    background-repeat: no-repeat;    
    margin-right: auto;
}

.headerLinksContainer {    
	display: -webkit-flex;
    display: flex;    
    -webkit-justify-content: flex-end;
    justify-content: flex-end;    
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 800px;       
    height:120px;        
    margin-right:20px;
}

.headerLinksContainer a {
	color: white;
}

.headerTopSection {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;                      
    height:50px;    
    margin-top:10px;
}

.headerTopLinks {    
    width: 50px;
    height: 20px;    
    font-size: 11px;
    margin: 10px;    
    margin-right: 20px;
    margin-top: auto;    
    text-align: right;   
}

.headerBottomSection {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;                
    height:70px;    
    margin-bottom:20px;
}

.headerBottomLinks {	
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    font-size: 15px;
    margin-top: auto;
    text-align: right;     
    vertical-align: bottom;         
}

.serviceContentContainer {    
	display: -webkit-flex;
    display: flex;    
    -webkit-justify-content: space-around;
    justify-content: space-around;    
    -webkit-flex-direction: row;
    flex-direction: row;                           
}

.serviceContentColumnContainer {    	    
    -webkit-flex-direction: row;
    flex-direction: row;               
}

.serviceContentTitle {            
    font-size: 15px;             
    text-align: left;   
    color: #52bdec;	
}

.serviceContentPostBy {            
    font-size: 13px;     
    font-weight: bold;             
    text-align: left;   
    color: #7a7a7a;	
    margin-top:10px;
    margin-bottom:10px;
}

.serviceContentPostHeaders {            
    font-size: 13px;
    font-weight: 400;               
    text-align: left;   
    color: #7a7a7a;
    margin-top:10px;    	
}

.serviceContentDescription {            
    font-size: 12px;                  
    text-align: left;   
    color: #7a7a7a;    
    margin-bottom:10px;	
}


.servicePurchaseColumnContainer {    	    
    -webkit-justify-content: flex-end;
    justify-content: flex-end;    
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: auto;        
    margin-right:30px;
}

.serviceBuyButtonContainer {
	margin-top:auto;
}

.servicePrice {
	font-size: 14px;             
    text-align: right;   
    color: #52bdec;	
}

.newPostButton {
    /*adjust the roundness*/
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    background-color: #ffa91b;  
    height: 40px;     
    text-align: center;
}
